descriptor.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dlib_face_detection">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="actors">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="actor" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:integer" name="id" use="required"/>
                      <xs:attribute type="xs:string" name="firstName" use="optional"/>
                      <xs:attribute type="xs:string" name="lastName" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="frame" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="actor" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:integer" name="id" use="required"/>
                      <xs:attribute type="xs:float" name="top" use="required"/>
                      <xs:attribute type="xs:float" name="right" use="required"/>
                      <xs:attribute type="xs:float" name="bottom" use="required"/>
                      <xs:attribute type="xs:float" name="left" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:integer" name="timeId" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


